<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li> |
            <li><a href="/transport">Transportation Service</a></li> |
            <li><a href="/meet_ninjas">The Ninjas</a></li> |
            <li><a href="/vet_resources">I Can Afford The Vet</a></li> |
            <li><a href="/registration">Register</a></li> |
        </ul>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style="color: red;">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-container">
        <h1 class="user_login">Login</h1>
        <form id="login-form" action="/login" method="POST">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
        </form>
    </div><br><br>
</body>
</html>